@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.placeholder .placeholder__text {
  margin: 10vh auto;
  color: #999;
}

.placeholder {
  width: 100%;
  display: grid;
  background-color: #fff;

  /* animation properties */
  transition: all 0.2s ease-in-out;
  animation: fade-in 0.2s forwards ease-in-out;
}
